{% extends 'base.html'%}
{% load static %}
{% block title %}
{% endblock %}
{% block body %}
    {% if messages%}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
    {% endif %}
    <section>
        <div class="login-page-width">
            <div class="login-page-section">
                <div class="login-container">
                    <div class="content" for="loginTab" >
                        <h2>Login</h2>
                        <form method="POST" action="{% url 'login_job_seeker' %}">
                            {%csrf_token%}
                            <div class="form-group">
                                <label for="loginUsername">Username:</label>
                                <input type="text" name="username" for="loginUsername" required>
                            </div>
                            <div class="form-group">
                                <label for="loginPassword">Password:</label>
                                <input type="password" name="password" for="loginPassword" required>
                            </div>
                            <button type="submit">Login</button>
                            <p>Login your Employer Account <a href="{% url 'login_employer' %}">Login</a></p>
                            <p>Create account for Employer ? <a href="{% url 'employer_signup' %}">Signup </a></p>
                            <p>Create account for Job Seeker ? <a href="{% url 'job_seeker_signup' %}">Signup</a> </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}